body{
    width: 960px; /*sets your body content to a fixed width of 960 pixels*/
    margin: 0 auto; /*auto = the browser calculates a margin*/
    background-color: #ffd900;
    font-family:'Rubik', sans-serif;
}

header{
    color:#ffd900;
    box-shadow: 0 0 10px #777777;
    background-color: #000000;
    margin:15px;
    border:15px solid #000000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    font-family:'Bungee', cursive;
}
h1,h2,h3{
    font-family: 'Bungee', cursive;
}

article{
    background-color:#ffec99;
    padding:20px;
    width:565px;
    float:left;
    margin-left:15px;
    height:1020px;
    line-height:1em;
    box-shadow: 0 0 10px #777777;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

nav{
    background-color:#ff9999;
    padding:10px;
    width:305px;
    float:left;
    margin-right:15px;
    height:340px;
    box-shadow: 0 0 15px #777777;
    border-top-left-radius: 0px;
    border-top-right-radius: 30px;
}

aside{
    background-color:#555;
    padding:10px;
    width:305px;
    float:left;
    margin-right:15px;
    height:680px;
    box-shadow: 0 0 20px #777777;
    border-bottom-right-radius: 30px;
    color:#ffec99;
}

footer{
    background-color:#000000;
    color:#ffd900;
    box-shadow: 0 0 10px #777777;
    padding:10px;
    margin-left:15px;
    margin-right:15px;
    border:solid 1px;
    text-align:center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

ul.menu{
    list-style-type: none;
    margin:0px;
    padding:0px;
    width:300px;
    background-color: #000000;
    box-shadow: 0 0 20px #777777;
}

li.menu{
    display: block;
    color:#ffec99;
    text-decoration: none;
    
}

a.menu{
    display: block;
    color:#ffec99;
    padding:8px 16px;
    text-decoration:none;
    
}

a.menu:hover{
    background-color: #555;
    color: white;
}

.active{
    background-color: #ffd900;
    color:white;
    display:block;
    padding:8px 16px;
    text-decoration:none;
}