/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #000;
  max-width:100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-image: url(images/sphere.png);
  background-position: center;
}
/*change to fluid*/
.container-fluid {
  max-width: 100%;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  margin-top:1rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 700;
  color: #51f194;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  font-size: 1.8rem;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 50, 50, .4);
  text-shadow:3px 3px 5px #000000;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 5rem;
}

.nav-masthead .active {
  color: #f25294;
  border-bottom-color: #51f194;
  text-shadow: 3px 3px 5px #000000, 3px 3px 5px #ff0000;
}

@media (min-width: 50em) {
  .masthead-brand {
    float: center;
  }
  .nav-masthead {
    float: none;
    font-size: 1.5rem
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
/*
*
*
*/
.lead{
    padding-top: 2rem;

    font-size: 1.6rem;
    padding: 0.1rem;
    line-height: 2.2rem;
}
.cover-heading{
    font-family: 'Orbitron', sans-serif;
    color:#ffcc33;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-top: 1.5rem;
    font-size: 3.7rem;
    text-shadow: 3px 3px 5px #000000, 3px 3px 5px #ff0000;
}

h2{
    font-family: 'Orbitron', sans-serif;
    text-shadow: 3px 3px 5px #000000, 3px 3px 5px #ff0000;
    color:#ffcc33;
}

.list-group-item{
    background-color: #f25294;
}
.list-group-item-secondary{
    background-color: #51f194;
    color:#fff;
}

.list-group-item-text, .list-group-item-heading{
    text-shadow: 1px 1px 5px #000000, 1px 1px 5px #0000ff;
}

.list-group-item:hover{
    color:#0033cc;
    background: linear-gradient(to bottom right,#51f194, #f25294);
    box-shadow: 0px 0px 5px 7px #000;
}


.row{
    justify-content: center;
    padding-top: 4rem;
}

.masthead-brand{
    justify-content: center;
}
.masthead{
    justify-content: center;
    align-content: center;
    float: none;
}

.container{
    background: linear-gradient(to bottom right,#51f194, #f25294);
    border-radius: 30px;
    box-shadow: 0px 0px 5px 7px #000;
    max-width: 60%;
}
.display-4{
  padding-top: 1rem;   
}

.bottom{
    padding-bottom: 1rem;
}
